<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>c</key>
		<string>DYViewController</string>
		<key>t</key>
		<string>抖音</string>
	</dict>
	<dict>
		<key>c</key>
		<string>LXGRollingViewController</string>
		<key>t</key>
		<string>上下滚动</string>
	</dict>
	<dict>
		<key>c</key>
		<string>LXGAudioViewController</string>
		<key>t</key>
		<string>音频</string>
	</dict>
	<dict>
		<key>c</key>
		<string>LXGChoosePhotoViewController</string>
		<key>t</key>
		<string>图片选择</string>
	</dict>
	<dict>
		<key>c</key>
		<string>LXGBrowseViewController</string>
		<key>t</key>
		<string>图片浏览</string>
	</dict>
	<dict>
		<key>c</key>
		<string>LXGWebViewController</string>
		<key>t</key>
		<string>web</string>
	</dict>
	<dict>
		<key>c</key>
		<string>LXGFlowLayoutViewController</string>
		<key>t</key>
		<string>布局</string>
	</dict>
	<dict>
		<key>c</key>
		<string>LXGBezierPathViewController</string>
		<key>t</key>
		<string>贝塞尔曲线</string>
	</dict>
	<dict>
		<key>c</key>
		<string>LXGDynamicsViewController</string>
		<key>t</key>
		<string>动力学</string>
	</dict>
	<dict>
		<key>c</key>
		<string>LXGEmitterViewController</string>
		<key>t</key>
		<string>粒子动画</string>
	</dict>
	<dict>
		<key>c</key>
		<string>LXGHUDViewController</string>
		<key>t</key>
		<string>HUD</string>
	</dict>
	<dict>
		<key>c</key>
		<string>LXGChartsViewController</string>
		<key>t</key>
		<string>Charts</string>
	</dict>
	<dict>
		<key>c</key>
		<string>LXGGifViewController</string>
		<key>t</key>
		<string>gif</string>
	</dict>
	<dict>
		<key>c</key>
		<string>LXGDDViewController</string>
		<key>t</key>
		<string>滑动</string>
	</dict>
	<dict>
		<key>c</key>
		<string>LXGPDFViewController</string>
		<key>t</key>
		<string>PDF</string>
	</dict>
	<dict>
		<key>c</key>
		<string>LinkViewController</string>
		<key>t</key>
		<string>联动1</string>
	</dict>
	<dict>
		<key>c</key>
		<string>LinkViewController2</string>
		<key>t</key>
		<string>联动2</string>
	</dict>
	<dict>
		<key>c</key>
		<string>PicColorViewController</string>
		<key>t</key>
		<string>颜色</string>
	</dict>
</array>
</plist>
